@{
    ViewData["Title"] = "Service error";
    var code = (int)ViewData["Code"];
}

<div>
    @switch (code)
    {
        case 500:
            <p>Internal server error.</p>
            break;
        case 404:
            <p>Not found.</p>
            break;
        default:
            <p>An error occured.</p>
            break;
    }
</div>
